<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cyber square</title>
    </head>
    <body>
        <table width="100%">
            <tr>
<th>
    <img src="images/logo-w.png" width="100px">
</th>
<td>Downloads</td>
<Td>300+Features</Td>
<td>10000+Templates</td>
<td>Website Builders</td>
<td>Premium</td>
<td>Forms</td>
<td>Blog</td>
<td >Help</td>
<td>EN</td>
<td>Sigm in</td>
<td>Register</td>
            </tr></table><hr>
            <table>
            <tr >
                <td>
                    <img src="images/mainlogo.jpg" width="1500px">
                </td>
            </tr>
        </table>
        <center><h1>HTML Template Category</h1></center><br>
        <table WIDTH="1500PX" CELLPADDING="5">
            <tr>
                <th>Arts & Design</th>
                <th>Business & Law</th>
                <th>Technology</th>
                <TH>Food & Restaurent</TH>
                <th>Architech & tech.</th>
                <TH>Fasion & Beauty</TH>
                <th>Education</th>
                <th>Industrial</th>

            </tr>
            <tr>
                <td><img src="images/art.jpg" width="150px"></td>
                <td><img src="images/Business.jpg" width="150px"></td>
                <td><img src="images/Technology.jpg" width="150px"></td>
                <td><img src="images/Food.jpg" width="190px"></td>
                <td><img src="images/Architecture.jpg" width="200px"> </td>
                <td><img src="images/Fashion.jpg" width="120px"> </td>
                <td><img src="images/Education.jpg" width="150px"> </td>
                <td><img src="images/Industrial.jpg" width="200px"> </td>
        
            </tr>
        </table><BR><BR>
            <CENTER><H1>HTML Block Category</H1></CENTER><br>
            <table width="1500px" >
                <tr>
                    <th>Bussiness&Law</th>
                    <th>Technology</th>
                    <th>Arts & Design</th>
                    <th>Food & Restaurent</th>
                    <th>Fasion & Beauty</th>
                </tr>
                <tr>
                    <td><img src="images/Busi&Law.jpg"></td>
                    <td><img src="images/Technolo.jpg" width="300"></td>
                    <td><img src="images/OIP.jpg" width="300"></td>
                    <td><img src="images/Food&R.jpg"></td>
                    <td><img src="images/Fa&bty.jpg" width="300"></td>
                </tr>
            </table>
            <a href="OUR PROJECT.HTML">facebook login TO</a>
    </body>
</html>
            